md-toolbar{
    width: 90%;
    margin: 10px auto;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 0;
    text-align: center;
    background-color: rgb(255, 147, 9) !important;
	display: block !important;

    @media screen and (min-width: 480px) {
        margin-top: 15px;
        font-size: 24px;
        width: 80%;
    }

    @media screen and (min-width: 680px) {
        margin-top: 30px;
        font-size: 30px;
        width: 75%;
    }
	&.md-primary {
		border-radius: 20px;
	}

    md-toolbar-row {
		display: block !important;
    }

}
